<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Nasa Image Generator</title>
</head>
<body>

    <h1 class="heading">Best Click Of The Day</h1>

    <form id="dateForm" class="dateForm">
        <label for="datePicker">Select a date:</label>
        <input type="date" id="datePicker" name="date" required>
        <button type="button" onclick="generateImage()">Generate Image</button>
    </form>

    <h2 class="title"><%= title %></h2>
    <p class="date">Date: <%= date %></p>

    <img src="<%= url %>" alt="NASA Image of the Day" class="image">

    <p class="explanation"><%= explanation %></p>

    <script>
        function generateImage() {
            const selectedDate = document.getElementById("datePicker").value;
            window.location.href = `/${selectedDate}`;
        }
    </script>

</body>
</html>
